@tailwind base;
@tailwind components;
@tailwind utilities;

.star-icon-unfilled {
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='gray' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3e%3c/svg%3e");
}

.star-icon-filled {
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='yellow' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3e%3c/svg%3e");
}

.react-datepicker__day--available {
  background-color: darkgreen;
}

.react-datepicker__day--booked {
  background-color: darkred;
}

.react-datepicker__day--unavailable {
  background-color: gray;
}
